html {
  scroll-behavior: smooth;
}

.hero.is-fullheight{
  background-image: url("../img/background.jpg");
  background-size: cover;
}

.tools{
  padding-bottom: 20px;
}
.navbar-end{
  margin-right: 40px;
}

.navbar-item{
    font-family: 'Noto Sans HK Thin';
}
.navbar-item.is-size-5.is-tab {
  color:#ffff;
}

.title{
    color: #cecbb7;
    font-family: 'Noto Sans HK';
}

.has-border-top {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.hero.is-light.has-border-top{
  padding-top: 60px;
  padding-bottom:30px;
}

.desc{
  padding-top: 90px;
}
p.is-size-6{
    padding-top: 30px;
    color:#cecbb7;
    font-family: 'Noto Sans HK Thin';
}
p{
  font-family: 'Noto Sans HK Thin';
}

.center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo{
  margin:10px;
  margin-left: 20px;
}

.tl-html,
.tl-css,
.tl-bt {
  padding-top: 1rem;
  padding-bottom: 4rem;
  font-size: 8rem;
}

.tl-html h1.subtitle,
.tl-css h1.subtitle,
.tl-bt h1.subtitle{
  padding-top: 2rem;
  font-weight: bolder;
  font-size: 1.5rem;
}

.tl-html{
  color:#DD4B25;
}
.tl-css{
  color:#0170BA;
}
.tl-bt{
  color:#664196;
}
.tools{
  border-bottom: 2px solid #6d6d67;
}

.resim{
  border-radius: 5px;
  width: 400px;
  -webkit-box-shadow: 6px 10px 59px -17px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 10px 59px -17px rgba(0,0,0,0.75);
box-shadow: 6px 10px 59px -17px rgba(0,0,0,0.75);
}