<section class="flex flex-col-reverse sm:flex-row items-start pt-2">
  <div class="flex flex-col pr-8">
    <h1
      class="bg-clip-text bg-gradient-to-r from-teal-900 to-teal-500 dark:from-purple-400 dark:to-pink-800 font-bold text-3xl tracking-tight mb-1 text-transparent"
    >
      Husein Kantarci
    </h1>
    <h2 class="text-gray-700 dark:text-gray-200 mb-4">
      Full Stack Software Engineer at <a
        href="https://mojob.io"
        target="_blank"
        class="font-semibold bg-clip-text bg-gradient-to-r from-teal-700 to-teal-900 dark:from-purple-300 dark:to-purple-600 text-transparent"
        >Mojob</a
      >
    </h2>
    <p class="text-gray-600 dark:text-gray-400 mb-10 italic">
      "Two roads diverged in a wood, and I took the one less traveled by, And
      that has made all the difference." <span class="not-italic font-medium"
        > – Robert Frost</span
      >
    </p>
  </div>
  <div class="w-[200px] sm:w-[220px] relative mb-8 sm:mb-0 mr-auto">
    <img
      src="/assets/profile_picture.png"
      alt="Picture"
      class="rounded-full grayscale-0 dark:grayscale dark:hover:grayscale-0"
    />
  </div>
</section>
