---
import type { BlogPost } from '@utils/blogPost'
import { formatDate } from '@utils/date'

interface Props {
  post: BlogPost
  postUrl: string | undefined
}

const { post, postUrl } = Astro.props
---

<div
  class="flex flex-row items-start justify-between mb-6 cursor-pointer hover:bg-gradient-to-l hover:from-gray-200 rounded py-2 hover:bg-gradient-to-l dark:hover:from-zinc-800"
>
  <a href={postUrl || '#'}>
    <h1 class="font-bold text-lg text-gray-700 dark:text-gray-50">
      {post.title}
    </h1>
    <p class="text-sm">
      {post.description ? post.description : 'Still being written'}
    </p>
  </a>
  <small class="mr-2"> {formatDate(post.date)}</small>
</div>
