---
import type { BlogPost } from '@utils/blogPost'

interface Props {
  post: BlogPost
}

const { post } = Astro.props
let publishedDate = null

if (post.date) {
  const dateObj = new Date(post.date)
  const month = dateObj.getUTCMonth() + 1 //months from 1-12
  const day = dateObj.getUTCDate()
  const year = dateObj.getUTCFullYear()

  publishedDate = day + '/' + month + '/' + year
}
---

<div class="flex flex-row items-start justify-between mb-8 cursor-pointer">
  <div>
    <h1 class="font-bold text-lg text-gray-700 dark:text-gray-50">
      {post.title}
    </h1>
    <p class="text-sm mt-2">
      {post.description ? post.description : 'Still being written'}
    </p>
  </div>
  <small> {publishedDate}</small>
</div>
