<section class="flex flex-col max-w-7xl mx-auto mb-6">
  <h1
    class="font-medium text-3xl tracking-tight mb-1 text-gray-700 dark:text-gray-50"
  >
    I am ...
  </h1>
  <p class="mt-1">
    A passionate Full Stack Software Engineer with a Master’s in Computer
    Science, a Bachelor’s in Computer Engineering, and 4+ years of coding experience. 
    Fluent in JavaScript/TypeScript and Python, I’m skilled in Vue, React, Angular, Node, Nest, Django and more..
  </p>
  <br />
  <p>
    I also dabble in Docker, AWS, Kubernetes, and databases—because what’s life
    without a little chaos in the cloud?
  </p>
  <br />
  <h1
    class="font-medium text-3xl tracking-tight mb-1 text-gray-700 dark:text-gray-50"
  >
    I love
  </h1>
  <p class="mt-1">
    Coding, cars, gaming, music, video editing, and photography.
  </p>
</section>
