<div class="mt-7">
  <h1
    class="font-medium text-3xl tracking-tight mb-1 text-gray-700 dark:text-gray-50"
  >
    Experience
  </h1>
  <div class="relative pl-8 sm:pl-32 py-6 group">
    <div
      class="font-caveat font-light text-xl text-gray-700 dark:text-gray-200 mb-1 sm:mb-0"
    >
      Mojob
    </div>
    <div
      class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-teal-900 before:dark:bg-purple-900 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-teal-600 after:dark:bg-purple-600 after:border-4 after:box-content after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5"
    >
      <time
        class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-gray-50 bg-gradient-to-r from-teal-500 to-teal-600 dark:from-purple-500 dark:to-purple-600 rounded-full"
        >Oct, 2021</time
      >
      <div class="text-xl font-medium from-purple-400 to-pink-800">
        Full Stack Software Engineer
      </div>
    </div>
  </div>
  <div class="relative pl-8 sm:pl-32 py-6 group">
    <div
      class="font-caveat font-light text-xl bg-clip-text text-gray-700 dark:text-gray-200 mb-1 sm:mb-0"
    >
      Sechard
    </div>
    <div
      class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-teal-900 before:dark:bg-purple-900 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-teal-600 after:dark:bg-purple-600 after:border-4 after:box-content after:border-teal-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5"
    >
      <time
        class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-gray-50 bg-gradient-to-r from-teal-800 to-teal-900 dark:from-purple-800 dark:to-purple-900 rounded-full"
        >Aug, 2020</time
      >
      <div class="text-xl font-medium from-purple-400 to-pink-800">
        Full Stack Software Engineer
      </div>
    </div>
  </div>
</div>

<div class="mt-7">
  <h1
    class="font-medium text-3xl tracking-tight mt-7 mb-1 text-gray-700 dark:text-gray-50"
  >
    Education
  </h1>
  <div class="relative pl-8 sm:pl-32 py-6 group">
    <div
      class="font-caveat font-light text-lg text-gray-700 dark:text-gray-200 mb-1 sm:mb-0"
    >
      Trakya University - Institute of Natural and Applied Sciences
    </div>
    <div
      class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-teal-900 before:dark:bg-purple-900 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-teal-600 after:dark:bg-purple-600 after:border-4 after:box-content after:border-teal-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5"
    >
      <time
        class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-gray-50 bg-gradient-to-r from-teal-500 to-teal-600 dark:from-purple-500 dark:to-purple-600 rounded-full"
        >Aug, 2023</time
      >
      <div class="text-xl font-medium from-purple-400 to-pink-800">
        Master of Science (M.S.) in Computer Engineering
      </div>
    </div>
  </div>
  <div class="relative pl-8 sm:pl-32 py-6 group">
    <div
      class="font-caveat font-light text-lg bg-clip-text text-gray-700 dark:text-gray-200 mb-1 sm:mb-0"
    >
      Trakya University - Faculty of Engineering
    </div>
    <div
      class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-teal-900 before:dark:bg-purple-900 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-teal-600 after:dark:bg-purple-600 after:border-4 after:box-content after:border-teal-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5"
    >
      <time
        class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-gray-50 bg-gradient-to-r from-teal-800 to-teal-900 dark:from-purple-800 dark:to-purple-900 rounded-full"
        >Jul, 2021</time
      >
      <div class="text-xl font-medium from-purple-400 to-pink-800">
        Bachelor of Engineering (B.E.) in Computer Engineering
      </div>
    </div>
  </div>
</div>

<div class="mt-7">
  <h1
    class="font-medium text-3xl tracking-tight mb-1 text-gray-700 dark:text-gray-50"
  >
    Internships
  </h1>
  <div class="relative pl-8 sm:pl-32 py-6 group">
    <div
      class="font-caveat font-light text-xl bg-clip-text text-gray-700 dark:text-gray-200 mb-1 sm:mb-0"
    >
      Nebula
    </div>
    <div
      class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-teal-900 before:dark:bg-purple-900 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-teal-600 after:dark:bg-purple-600 after:border-4 after:box-content after:border-teal-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5"
    >
      <time
        class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-gray-50 bg-gradient-to-r from-teal-800 to-teal-900 dark:from-purple-800 dark:to-purple-900 rounded-full"
        >Jan, 2021</time
      >
      <div class="text-xl font-medium from-purple-400 to-pink-800">
        Software Engineer, Intern
      </div>
    </div>
  </div>
  <div class="relative pl-8 sm:pl-32 py-6 group">
    <div
      class="font-caveat font-light text-xl bg-clip-text text-gray-700 dark:text-gray-200 mb-1 sm:mb-0"
    >
      Kocaeli University
    </div>
    <div
      class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-teal-900 before:dark:bg-purple-900 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-teal-600 after:dark:bg-purple-600 after:border-4 after:box-content after:border-teal-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5"
    >
      <time
        class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-gray-50 bg-gradient-to-r from-teal-800 to-teal-900 dark:from-purple-800 dark:to-purple-900 rounded-full"
        >Jun, 2019</time
      >
      <div class="text-xl font-medium from-purple-400 to-pink-800">
        Software Engineer, Intern
      </div>
    </div>
  </div>
</div>
