---
import ThemeSwitch from '@components/theme/ThemeSwitch.astro'
---

<nav class="flex flex-row gap-y-3 justify-between items-center py-8">
  <ul class="flex gap-x-8 font-monsterrat font-medium">
    <li class="hover:text-gray-700 hover:dark:text-gray-50">
      <a href="/">Home</a>
    </li>
    <li class="hover:text-gray-700 hover:dark:text-gray-50">
      <a href="/blog">Blog</a>
    </li>
    <li class="hover:text-gray-700 hover:dark:text-gray-50">
      <a href="/snippets">Snippets</a>
    </li>
  </ul>
  <div>
    <ThemeSwitch />
  </div>
</nav>
